body {
	display: block;
	margin: 0px;
	padding: 0px;
    font-family: Arial,"Pingfang SC", Heiti,Helvetica, Arial,Tahoma, STXihei, "Microsoft YaHei",  sans-serif;
}
.head{
	background: #F9F9F9;
}
.WKW{
	padding:120px 60px 60px 60px;
	padding-right: 0px;
	margin-left:auto;
    margin-right:auto;
	width: 720px;
	height: 399px;
}

#myAvatar{
	background-image: url(../img/avatar.png);
	background-size: 270px 322px;
	background-repeat: no-repeat;
	height: 322px;
	width: 270px;
	display: inline-block;
	float:left;
}
.myProfile{
	margin-left: 30px;
	margin-top: 36px;
	display: inline-block;
	width: 360px;
	float:left;
}


#myName{
	font-weight: 900;
	font-size: 36px;
	color: #191919;
	letter-spacing: 3px;
}
#aboutMe{
	margin-top: 20px;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: 0.5px;
	line-height: 26px;
}



.WKW ul {
	margin-top: 36px;
	list-style: none;
	padding: 0px;
	float: left;
}

.WKW li {
	float: left;
	margin-right:20px;
}

.link{
	background-size: 30px 30px;
	background-repeat:no-repeat;
	height: 30px;
	width: 30px;
	opacity:1;
	transition: 0.15s;
}

.link:hover {
	opacity:0.8;}

#link1 {
 	background-image: url(../img/zcool.png);
}

#link2 {
 	background-image: url(../img/dribbble.png);
}

.grayLine{
	height: 2px;
    background: #F1F1F3;
	width: 100%;
}

.P{
	margin-left:auto;
    margin-right:auto;
	padding-top: 90px;
	padding-bottom: 90px;
	width: 660px;
}

#p1{
	height: 400px;
}
#p2{
	height: 660px;
}
#p3{
}
.Title{
	margin-bottom: 90px;
}


#exp{
	background-image: url(../img/WorkExperience.png);
	background-size: 289px 89px;
	background-repeat:no-repeat;
	height: 89px;
	width: 289px;
}
.cBlock{
	padding: 24px 0px 8px 0px;
}
.cBlockBigTitle{
	font-weight: 900;
	font-size: 24px;
	color: #4C4C4C;
	letter-spacing: 1px;
	text-align: left;
	line-height: 28px;
	margin-bottom: 12px;
	width: auto;
}
.cBlockTitle{
	font-weight: 600;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: 1px;
	text-align: left;
	line-height: 18px;
}

.cBlockDate{
	margin-top:2px;
	font-size: 12px;
	color: #B5B5B5;
	letter-spacing: 1px;
	float: right;
	line-height: 12px;
}

.cBlocksub{
	margin-top:6px;
	font-size: 13px;
	color: #4C4C4C;
	letter-spacing: 1px;
	text-align: left;
	font-weight: 900;
}

.cBlockText{
	margin-top:8px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 13px;
	color: #B5B5B5;
	letter-spacing: 0;
	text-align: left;
	line-height: 21px;
}


#skl{
	background-image: url(../img/Skills.png);
	background-size: 142px 61px;
	background-repeat:no-repeat;
	height: 61px;
	width: 142px;
}

.sBlock{
	margin: 0px 60px 20px 0px;
	height: 66px;
	width: 160px;
	float: left;
	display: inline-block;
}

.sName{
	margin: 2px 0px 0px 12px;
	font-size: 13px;
	color: #4C4C4C;
	letter-spacing: 0.7px;
	text-align: right;
	line-height: 28px;
	float: left;
}
.sImg{
	background-size: 30px 30px;
	background-repeat:no-repeat;
	height: 30px;
	width: 30px;
	float: left;
}
#sImgSketch{
	background-image: url(../img/tools/ske.png);
}

#sImgPs{
	background-image: url(../img/tools/ps.png);
}

#sImgAi{
	background-image: url(../img/tools/ai.png);
}
#sImgAe{
	background-image: url(../img/tools/ae.png)
}

#sImgPcp{
	background-image: url(../img/tools/pcp.png);
}

#sImgHtm{
	background-image: url(../img/tools/htm.png);
}
#sImgAbs{
	background-image: url(../img/tools/abs.png);
}
#sImgGit{
	background-image: url(../img/tools/git.png);
}
#sImgKyn{
	background-image: url(../img/tools/kyn.png);
}
.P3_PD{
	padding: 6px 36px 0px 36px;
	background: #F9F9F9;
	border-radius: 15px;
	margin: 36px 0px;
	transition: 0.15s;
	border: 1px solid #F9F9F9;
}

.P3_PD:hover {
background: #FFFFFF;
border: 1px solid #F9F9F9;
box-shadow: 0 6px 27px -12px rgba(21,25,36,0.35);
border-radius: 15px;
}

#prj{
	background-image: url(../img/Project.png);
	background-size: 287px 92px;
	background-repeat:no-repeat;
	height: 92px;
	width: 287px;
}

#wechat{
   position:relative;
	font-size: 16px;
	color: #919191;
	letter-spacing: 0.5px;
	line-height: 28px;
	 text-decoration:none;
}

.footer{
	background: #232323;
}

#p4{
	height: 20px;
}      

#wechat::after{
  content: url(../img/wechatQR.png);
  position: absolute;
  right: 88px;
  top: -140px;
  z-index: 50;
  width:60px;
  height: 60px;
  transform-origin: top right;
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

}

#wechat:hover::after{
  transform:scale(0.2);
  opacity: 1;
}