
body {
	display: block;
	margin: 0px;
	padding: 0px;
    font-family: "Pingfang SC", Heiti,Helvetica, Arial,Tahoma, STXihei, "Microsoft YaHei",  sans-serif;
}
.P1{
	background: #F9F9F9;
	display: block;
}
.WKW{
	padding:120px;
	padding-right: 0px;
	margin-left:auto;
    margin-right:auto;
	width: 850px;
	height: 399px;
}

#myAvatar{
	background-image: url(../img/avatar.png);
	background-size: 322px 399px;
	background-repeat: no-repeat;
	height: 399px;
	width: 322px;
	display: inline-block;
	float:left;
}
.myProfile{
	margin-left: 30px;
	margin-top: 60px;
	display: inline-block;
	width: 490px;
	float:left;
}


#myName{
	font-weight: 900;
	font-size: 36px;
	color: #191919;
	letter-spacing: 3px;
}
#aboutMe{
	margin-top: 20px;
	font-size: 16px;
	color: #4C4C4C;
	letter-spacing: 0.5px;
	line-height: 26px;
}



.WKW ul {
	margin-top: 36px;
	list-style: none;
	padding: 0px;
	float: left;
}

.WKW li {
	float: left;
	margin-right:40px;
}

.link{
	background-size: 40px 40px;
	background-repeat:no-repeat;
	height: 40px;
	width: 40px;
	opacity:1;
}

.link:hover {
	opacity:0.8;}

#link1 {
 	background-image: url(../img/zcool.png);
}

#link2 {
 	background-image: url(../img/dribbble.png);
}

.grayLine{
	height: 0.6px;
    background: #EBEBEB;
	width: 100%;
}

.P{
	margin-left:auto;
    margin-right:auto;
	padding-top: 90px;
	padding-bottom: 90px;
	width: 600px;
}

#p1{
	height: 480px;
}
#p2{
	height: 660px;
}
#p3{
	height: 1120px;
}
.Title{
	margin-bottom: 90px;
}


#exp{
	background-image: url(../img/WorkExperience.png);
	background-size: 289px 89px;
	background-repeat:no-repeat;
	height: 89px;
	width: 289px;
}
.cBlock{
	padding: 24px 0px 8px 0px;
}
.cBlockBigTitle{
	font-weight: 900;
	font-size: 24px;
	color: #4C4C4C;
	letter-spacing: 1px;
	text-align: left;
	line-height: 28px;
	margin-bottom: 36px;
	width: auto;
}
.cBlockTitle{
	font-weight: 500;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: 1.5px;
	text-align: left;
	line-height: 18px;
}

.cBlockDate{
	margin-top:2px;
	font-size: 12px;
	color: #B5B5B5;
	letter-spacing: 1px;
	float: right;
	line-height: 12px;
}

.cBlocksub{
	margin-top:6px;
	font-size: 13px;
	color: #4C4C4C;
	letter-spacing: 1px;
	text-align: left;
	font-weight: 900;
}

.cBlockText{
	margin-top:8px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 13px;
	color: #B5B5B5;
	letter-spacing: 0;
	text-align: left;
	line-height: 21px;
}

.P3_PD{
	padding: 6px 36px;
	background: #F9F9F9;
	border-radius: 15px;
	margin: 36px 0px;
}

#prj{
	background-image: url(../img/Project.png);
	background-size: 287px 92px;
	background-repeat:no-repeat;
	height: 92px;
	width: 287px;
}

#skl{
	background-image: url(../img/Skills.png);
	background-size: 142px 61px;
	background-repeat:no-repeat;
	height: 61px;
	width: 142px;
}

.sBlock{
	margin-right: 60px;
	height: 54px;
	float: left;
	display: flex;
}

.sName{
	margin: 3px 0px 0px 12px;
	font-size: 14px;
	color: #191919;
	letter-spacing: 0.4px;
	text-align: left;
	line-height: 28px;
}
.sImg{
	background-size: 30px 30px;
	background-repeat:no-repeat;
	height: 30px;
	width: 30px;
}
#sImgSketch{
	background-image: url(../img/tools/ske.png);
}

#sImgPs{
	background-image: url(../img/tools/ps.png);
}

#sImgAi{
	background-image: url(../img/tools/ai.png);
}
#sImgAe{
	background-image: url(../img/tools/ae.png)
}

#sImgPcp{
	background-image: url(../img/tools/pcp.png);
}

#sImgHtm{
	background-image: url(../img/tools/htm.png);
}
#sImgAbs{
	background-image: url(../img/tools/abs.png);
}
#sImgPs{
	background-image: url(../img/tools/ps.png);
}

